@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-bg {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px); 
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
  }
 
  
  
@keyframes rotateIcon {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .animate-rotate {
    animation: rotateIcon 5s infinite;
  }
  
  